*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(1, 58, 34);
  overflow:visible;
}
.header-img{
  display:inline-block ;
  margin-left: 4%;
  margin-top: 2%;
}
.header-text{
  color: antiquewhite;
  margin-right: 7px;
  display: inline-block;
}
.navbar{
  margin-bottom: 30%;
  padding-bottom: 5%;
  float: right;
  display: inline;
  list-style: none;
  padding-left: 11%;
  
}
ul{
  display:flex;
  text-decoration: none;
}
li{
  margin: 1rem;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}
a:hover{
  color: red;
}
.btn{
  color: bisque;
  background-color: black;
  border-radius: 4px;
}
.btn:hover{
  color: red;
}
.Hom{
  padding: 1%;
  margin-right: 5%;
}
.log{
  padding: 1%;
  margin-right: 10%;
}
.Reg{
  padding: 2%;
  margin-left: 8%;
}
h4{
  margin-left: 44%;
}
.bod{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5%;
  margin-left: 4%;
  font-weight: 400;
}
.aa{
  color: rgb(218, 192, 159);
}
.img1{
position: absolute;
left: 80%;
top: 12%;
border-radius: 4px;
width: 8%;
height: 5%;
size: 50%;
}
.img11{
  margin-top: 5%;
}
.caption {
  text-overflow: clip;
  text-align: left;
  color: rgb(240, 202, 146);
  margin-top: 2%;
  display:inline-block;
}
p{
  display:inline-block;
}
.mid{
  color: rgb(253, 246, 237);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 7%;
  margin-left: 17%;
}
.c1{
  color: rgb(240, 202, 146);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: 17%;
  margin-top: 1%;
}
.m1{
  margin-top: 3%;
  margin-left: 5%;
}
.fig{
  margin-left: 6%;
  color: rgb(240, 202, 146) ;
}
.fig:hover{
  color: red;
}
.fig1{
  margin-left: 25%;
}
.fig1:hover{
  color: blue;
}
.fig11{
  margin-left: 25%;
}
.fig11:hover{
  color: yellow;
}
.f{
  color: antiquewhite;
  margin-left: 2%;
}
.f1{
  margin-left: 12%;
  color: aliceblue;
  margin-bottom: 3%;
}
.f11{
  margin-left: 12%;
  color: aliceblue;
}

.r{
 margin-left: 12%; 
}
.r1{
  margin-left: 12%;
}

.bot{
  color: rgb(240, 202, 146);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:left;
  margin-left: 90px;
  margin-top: 140px;
  
}
.cap1{
  color: aliceblue;
  margin-left: 70px;
  
}
.srch{
  color:antiquewhite;
  margin-top: 15px;
  text-align: right;
  margin-right: 11%;
}
.sea{
  background-color:aliceblue;
  border-radius: 4%;
  border: 5%;
  padding: 6px auto;
  border-width: 10%;
  border-style: hidden;
  display: inline-block;
  padding: 3px;
  margin: 14px;
}
.gg{
  padding: 1px;
  background-color: rgb(240, 202, 146) ;
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100; 
  transition: 0.4s;
  color: black;
}
.gg:hover{
  color: red;
  cursor: pointer;
}
.bottom{
  margin-left: 0%;
  display: inline-block;
  background-color: black;

}
.kom{
  background-color: black;
}
.k{
  margin-left: 200%;
background-color: black;
}
.l{
  margin-left: 200%;
  background-color: black;
}
.ooo{
  background-color: black;
}
.n1{
  margin-left: 13%;
  color: aliceblue;
  list-style: none;
  background-color: black;
}
.k1{
  margin-left: 127%;
  top: 3%;
  color:aliceblue;
  background-color: black;
}
.l1{
  margin-left: 138%;
  color: aliceblue;
  background-color: black;
}
.mnm{
  background-color: black;
}
.nnn{
  background-color: black;
}
.m{
  list-style: none;
  color: aliceblue;
  background-color: black;
}
.q{
  color: aliceblue;
  margin-left: 132%;
  background-color: black;
}
.a{
  color: aliceblue;
  margin-left: 138%;
  background-color: black;
}
.pop{
  background-color: black;
}
.popp{
  background-color: black;
}
.b{
  list-style: none;
  color: aliceblue;
  margin-left: 6%;
  background-color: black;
}
.p{
  color: aliceblue;
  margin-left: 285%;
  background-color: black;
}
.mop{
  background-color: black;
}
.mopp{
  background-color: black;
}
.z{
  color: aliceblue;
  margin-left: 55%;
  list-style: none;
  background-color: black;
}
.li{
  list-style: none;
  color: aliceblue;
  font-weight: lighter;
  display: inline-block;
  background-color: black;
}
.pot{
  margin-top: 0%;
  background-color: black;
}
.op{
  margin-top: 0%;
  margin-left: 180%;
  font-weight: lighter;
  color: aliceblue;
  list-style: none;
  background-color: black;
}
.lg{
  margin-left: 300%;
  font-weight: lighter;
  padding: 1%;
  list-style: none;
  color: aliceblue;
  margin-top: 0;
  padding-top: 0%;
  background-color: black;
}
.sec{
  background-color: black;
  margin: 0%;
  padding: 0%;
}